# 忽略 build 文件夹
build/

# 忽略 Drivers 文件夹
Drivers/

# 默认忽略 Middlewares 文件夹，仅保留本项目新增的 SEGGER RTT 源码
Middlewares/*
!Middlewares/Third_Party/
Middlewares/Third_Party/*
!Middlewares/Third_Party/SEGGER_RTT/
!Middlewares/Third_Party/SEGGER_RTT/**

# 忽略 .mxproject 文件
*.mxproject

# 忽略 CMakePresets.json 文件
CMakePresets.json

# 忽略 startup_stm32g070xx.s 文件
startup_stm32g070xx.s

# 忽略 STM32G070CBTx_FLASH.ld 文件
STM32G070CBTx_FLASH.ld
